@(file: String)

<!-- App Navigation -->
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">		
			<ul class="nav">
				@if(file == "app_map") { <li class="active"> } else { <li> } <a href="app_map.html">Map</a></li>
				@if(file == "app_boatinfo") { <li class="active"> } else { <li> } <a href="app_boatinfo.html">Logbuch</a></li>
				@if(file == "app_trip") { <li class="active"> } else { <li> } <a href="app_trip.html">Routen</a></li>
				@if(file == "app_weather") { <li class="active"> } else { <li> } <a href="app_weather.html">Wetter</a></li>
			</ul>
			<ul class="navbar-form pull-right" style="list-style-type: none;">
				@if(file != "app_map") { <li style="visibility:hidden;"> } else { <li> } <a class="btn" id="startSimulation"><i class="icon-play"></i></a><li>
				</ul>			
				<ul class="navbar-form pull-right" style="list-style-type: none;">
					@if(file != "app_map") { <li style="visibility:hidden;"> } else { <li> } <a class="btn" id="showWeatherWarning" title="Wetter-Warnungen" onclick="openWeatherWarnings();"><i class="icon-warning-sign"></i></a><li>
					</ul>
					<ul class="navbar-form pull-right" style="list-style-type: none;">
						@if(file != "app_map") { <li style="visibility:hidden;"> } else { <li> } <a class="btn" id="startLog" title="Wetter-Aufzeichnung" onclick="if($('#weatherLog').css('display') == 'none'){openWeatherLogWindow();}else{closeWeatherLog();}"><i class="icon-pencil"></i></a><li>
						</ul>
			
					</div>
				</div>
			</div>